<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Produtos Disponíveis</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('adicionar_produto') }}">Cadastrar Novo Produto</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <h1>Produtos Disponíveis</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Ações<th>
            </tr>
        </thead>
        <tbody>
            {% if not produtos:%}
            <tr>
                <td colspan="5">Não há produtos cadastrados</td>
            </tr>
            {% endif %}
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.quantidade_estoque }}</td>
                <td><a href="{{ url_for('editar_produto', id=produto.id) }}">Editar</a>
                    <a href="{{ url_for('excluir_produto', id=produto.id) }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>
    <footer>
        
    </footer>
</body>
</html>